formio.formio-search .form-group {
  margin-bottom: 0;
  .col-form-label {
    font-size: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
// truncate text for selected item with long text
.choices__list.choices__list--single {
  .choices__item:first-child {
    &.choices__item--selectable {
      width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

